/* adding media query to have h1 left align on desktop version */
h1,
h2 {
	font-size: var(--fs-800);
	text-align: center;
}
h2 {
	color: var(--clr-light);
}

#intro {
	--padding: 2rem;
	text-align: left;
}

#intro .split {
	gap: 3rem;
}
#intro img {
	border-radius: 5px;
	width: 70%;
	align-self: center;
}

#testimonials {
	--url: url(../img/test-bg.jpg);
	text-align: left;
}

#testimonials > div {
	padding: 1.5rem;
	border-radius: 8px;
	gap: 1rem;
	opacity: 0.9;
}

#testimonials img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	align-self: center;
}
