#hero {
	--url: url('../img/showcase.jpg');
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1 {
	font-size: var(--fs-900);
}

h1 + p {
	font-size: var(--fs-500);
}

#hero a.btn {
	color: var(--fg-clr);
	background-color: var(--bg-clr);
}

#about-section .bg-url {
	--url: url('../img/photo-1.jpg');
	flex-basis: 100%;
}

#about-section .flow {
	padding-top: 4rem;
	padding-bottom: 8rem;
	align-self: center;
	flex-basis: 100%;
}
