/* Todo: Custom properties */
:roo {
}

/* Reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
	line-height: 1.1;
}
body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
	margin: 0;
}
ul,
ol {
	list-style: none;
	padding: 0;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-size: cover;
	font-style: italic;
}

picture,
svg,
video {
	max-width: 100%;
	display: block;
}
p,
li,
figcaption {
	text-wrap: pretty;
	max-width: 65ch;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
}

@media (prefers-reduced-motion: no-preference) {
	:has(:target) {
		scroll-behavior: smooth;
		scroll-padding-top: 3rem;
	}
}
